.main_div_discover {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    background: linear-gradient(135deg, #43e794, #23bdb8);
    margin-top: 5%;
    margin-bottom: -4%;
  }
  
  /* .col-lg-6, .col-md-12 {
    flex: 1;
    padding: 15px;
  } */
  
  .analytics-shape1 {
    position: relative;
    width: 100%;
  }
  
  .analytics-shape1 img {
    width:523px ;
    height: auto;
  }
  
  .discover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
  }
  .discover-imag1{
    margin-left: 70px;
  }
  
  .discover-img2 {
    margin: 200px 0px 0px -150px;
    width: auto;
    height: auto;
  }
  
  
  .discover-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    margin-top: 21%;
  }
  
  .discover-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    color: white;
  }
  
  .discover-content p {
    margin-bottom: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: white;
  }
  
  .discover-content .btn {
    font-weight: 600;
    font-size: 14px;
    border: none;
    padding: 15px 40px;
    position: relative;
    border-radius: 4px;
    z-index: 1;
    text-transform: uppercase;
    transition: .5s;
    background-color: white;
  }
  
  .discover-content .btn:hover {
    background: linear-gradient(to right, #e87892, #ff3613);
  }
  

  @media screen and (max-width: 768px) {
    .main_div_discover {
      flex-direction: column;
    }
  
    .discover-content h2 {
      font-size: 1.5em;
    }
  
    .discover-content p {
      font-size: 0.9em;
    }
  
    .discover-content .btn {
      padding: 8px 16px;
    }
  }
  
  @media screen and  (max-width: 576px) {
    .discover-content h2 {
      font-size: 1.2em;
    }
  
    .discover-content p {
      font-size: 0.8em;
    }
  
    .discover-content .btn {
      padding: 6px 12px;
    }
  }
  
  /* @media screen and (max-width: 1400px) {
.discover-image img{
    width: 500px;

}
}   */
@media (max-width: 1400px) {
    .discover-imag1 {
      max-width: 400px;
    }
  
    .discover-img2 {
      max-width: 350px;
    }

  }
  @media (max-width: 1315px) {
    .discover-imag1 {
      max-width: 350px;
    }
  
    .discover-img2 {
      max-width: 320px;
    }

  }

@media (max-width: 1160px) {
    .discover-imag1 {
      max-width: 300px;
    }
  
    .discover-img2 {
      max-width: 300px;
    }

  }
  @media (max-width: 1040px) {
    .discover-imag1 {
      max-width:280px;
    }
  
    .discover-img2 {
      max-width: 280px;
    }

  }
  @media (max-width: 992px) {
    .discover-imag1 {
      max-width:400px;
    }
  
    .discover-img2 {
      max-width: 400px;

    }
    .analytics-shape1{
      margin-bottom: -100px;
    }

    
  }

  @media (max-width: 768px) {
   .discover-image{
    
    left: 0;
    /* width: 100%;
    height: 100%; */
    /* display: flex; */
    flex-direction: column;
   }
    .discover-imag1{
      margin-left: 15px;
      margin-top: 15px;
    }
    
    .discover-img2 {
      margin-top: 20px ;
      margin-left: 15px;
      width: auto;
      height: auto;
    }
  }
  @media (max-width: 768px) {
    .discover-content {
      margin-top: 30%; /* Adjust this value as needed */
    }
  }

  @media (max-width: 590px) {
    .discover-content {
      margin-top: 40%; /* Adjust this value as needed */
    }
  }
  @media (max-width: 542px) {
    .discover-content {
      margin-top: 100%; /* Adjust this value as needed */
    }
  }
  @media (max-width: 540px) {
.analytics-shape1 img{
  width: 90%;
}
.discover-imag1{
  margin-left: 10px;
}
.discover-ima21{
  margin-left: 10px;
}
  }